<p> Bonjour, </p>

<p> Merci de faire un changement de cuve/cannes et de débuter un nouveau lot. </p>

<p> Le lot n° : {{control.lot}} est clôturé </p>
<p> N° Silo : {{control.silo}}</p>
<p> N° Cuve : {{control.cuve}} </p>
<p> Code JDE : {{control.codejde}}</p>
<p> Matière : {{control.matiere}}</p>

<p> Cordialement, </p>