<p> Bonjour, </p>

<p> Merci de mettre à jour la traçabilité en production. </p>

<p> Le lot n° : {{control.lot}} est débuté </p>
<p> N° Silo : {{control.silo}}</p>
<p> N° Cuve : {{control.cuve}} </p>
<p> Code JDE : {{control.codejde}}</p>
<p> Matière : {{control.matiere}}</p>

<p> Cordialement, </p>